#flag-bg {
  background-color:#006A4E;
  width:900px;
  height:600px;
  margin:0;
  position:absolute;
}

#flag {
  background-color:#F42A41;
  width:400px;
  height:400px;
  margin:100px 0 0 220px;
  border-radius:50%;
}